body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif; 
    color: white;
    background-image: linear-gradient(to right, #2c3e50, #386d75);
    background-attachment: fixed;
}
.header{
    font-size: x-large;
}
.maincontent{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;
    height: 500px;
}
.tasktitle{
    width: 55.2%;
    border: 2px solid grey;
    border-right: none;
    float: left;
    margin-left: 10.65%;
}
.datetitle{
    width: 23.2%;
    border: 2px solid grey;
    float: left;
}
.tasklist{
    width: 69%;
    border: 2px solid grey;
    border-top: none;
    border-bottom: none;
    border-right: none;
    height: auto;
    overflow-wrap: break-word;
}
.datelist{
    width: 29%;
    height: auto;
    border: 2px solid grey;
    border-top: none;
    border-bottom: none;
    overflow-wrap: break-word;
}
.maincontent::-webkit-scrollbar {
    display: none;
}
.insertbar{
    width: 78.5%;
    border: 2px solid grey;
    margin-left: auto;
    margin-right: auto;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    height: 100px;
}
.searchbar{
    width: 78.5%;
    border: 2px solid grey;
    border-bottom: none;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    position: relative;
}
.form_field {
    font-family: Arial, Helvetica, sans-serif;
    width: 69%;
    border: 0;
    border-bottom: 2px solid grey;
    font-size: 1.3rem;
    outline: 0;
    color: white;
    padding: 7px 0;
    background: transparent;
    margin-top: 20px;
    float: left;
    margin-left: 10px;
    transition: 200ms;
}
.form_field::placeholder {
    font-size: 1.3rem;
    color: grey;
}
.form_field:focus{
    border-color: #2c3e50;
}
.form_field:nth-child(2){
    width: auto;
    margin-left: 50px;
    margin-top: 19px;
    color: white;
}
button {
    width: 150px;
    border: 1px solid grey;
    background: #386d75;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    position: relative;
    transition: 500ms; 
    margin-top: 22px;
    margin-right: 220px;
}
button:nth-child(3){
    margin-right: 0;
}
button:hover{
    color: white;
    border: 1px solid #2c3e50;
    background:#2c3e50;
}
.error{
    color: darkred;
    font-weight: bold;
    float: left;
    margin-left: 40px;  
    margin-top: 10px;
    display: none;
}
.error:nth-child(5){
    margin-left: 1130px;
}
.dalist{
    list-style-type: none;
}
ul{
    margin-right: 40px;
}
.material-symbols-outlined{
    width: 30px;
    height: 25px;
    margin-left: 140px;
    padding: 0;
    margin-top: -5px;
    margin-right: 0;
    font-size: smaller;
    position: absolute;
    float: right;
}
li{
    padding-bottom: 20px;
}
.material-symbols-outlined:hover{
    background-color: darkred;
}