
html, body, ul, li, h1, h2, h3, p, a {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, sans-serif;
}
body {
    background-image: url(tlo1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(67, 61, 61, 0.7);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 10px 0;
}

.top1 a{
    text-decoration: darkgoldenrod wavy underline overline;;
    color: darkgoldenrod;
    font-size: 200%;
}


.top2 {
    display: flex;
}

.list_top {
    list-style: none;
    display: flex;
}

.list_top li {
    margin-right: 20px;
}

.list_top a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.menuside {
    flex: 1;
    background-color: #333;
    padding: 20px;
    text-align: center;
}

.menuheader {
    font-size: 35px;
    color: #fff;
    margin-top: 20px;
    font-style: italic;
}
.list{
    color: white;
}
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu .list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu .list li {
    margin-top: 10px;
}

.menu .list a {
    text-decoration: none;
}

.logo_menu {
    margin-top: 20px;
}

.mid {
    flex: 1;
    padding: 20px;
    background-color: #fff;
}

h2 {
    font-size: 28px;

}

h3 {
    font-size: 24px;
    margin-top: 20px;
    text-decoration: dotted;
    font-weight: bold;
    font-style: oblique;
}

.showdesc {
    font-size: 16px;
    line-height: 1.6;
}


.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border: 3px solid white;
    border-style: dashed;
}

.f_1 {
    font-size: 24px;
    border-bottom: 3px solid white;

}

.f_2 {
    text-align: center;

    margin-top: 20px;
}

.list_top a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.main_1, .main_2, .main_3, .main_4{
    background-color: lightgray;
}
.nav{
    padding: 0.3rem;
    background-color: lightgray;
    color: black;
}

 .nav:hover{
     background-color: black;
     color: white;
     padding: 4px;
 }
@media (max-width: 768px) {
    body {
        background-size: cover;
    }
    .container {
        padding: 10px;
    }
    .header {
        padding: 5px 0;
    }
    .list_top {
        flex-direction: column;
    }
    .list_top li {
        margin: 5px 0;
    }
    .menuheader {
        font-size: 20px;
    }
    .menu {
        padding: 0;
        margin: 0;
    }
    .list {
        margin-top: 10px;
    }
    .menu .list a {
        font-size: 18px;
    }
    .logo_menu {
        margin: 10px 0;
    }
    .mid {
        padding: 10px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 20px;
    }
    .showdesc {
        font-size: 14px;
    }
    .footer {
        padding: 10px 0;
    }
    .f_1 {
        font-size: 20px;
    }
    .f_2 {
        margin-top: 10px;
    }
    .list_top a {
        font-size: 18px;
    }
    .main_1, .main_2, .main_3, .main_4 {
        background-color: lightgray;
    }
    .nav:hover {
        background-color: initial;
    }
}

